/* ==========================================================================
   
   #BOX
   
   ========================================================================== */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.u-box` class to naturally-inline elements.
 */

.u-box {
  @include inuit-clearfix();
  display: block; /* [1] */
  padding: $unit-md;

  > :last-child {
    margin-bottom: 0;
  }

}





/* Size variants
   ========================================================================== */

.u-box--flush {
  padding: 0;
}

.u-box--xs {
  padding: $unit-xs;
}

.u-box--sm {
  padding: $unit-sm;
}

.u-box--lg {
  padding: $unit-lg;
}

.u-box--xl {
  padding: $unit-lg;
  @include mq($from: desktop) {
    padding: $unit-xl;
  }
}

.u-box--xxl {
  padding: $unit-xl;
  @include mq($from: desktop) {
    padding: $unit-xxl;
  }
}

.u-box--xxxl {
  padding: $unit-xl;
  @include mq($from: desktop) {
    padding: $unit-xxl*2;
  }
}
