/* ==========================================================================

   #FLOW

   ========================================================================== */


.u-divider {
  width: 100%;
  height: 1px;
  background-color: $neutral-10;
  margin-top: -1px;
  margin-bottom: 1px;
}
