# standard
.DS_Store

# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Processed Images
assets/images

# Nuxt generate
dist

# Gulp cache
gulp-cache
temp

# Service worker
static/sw.js
static/workbox-sw*.js