/* ========================================================================
   # VERTICAL RHYTHM (vr)
======================================================================== */



/* Generate all required attributes/values
======================================================================== */
@mixin vr($font-family: $font-body, $font-size: $base-font-size) {
  /**
   * VARIABLE defininitions
   */

	// Calculate the line height of the text.
	$line-height: $font-size * $base-line-height;
	// How much rhythm fits in the line height?
	$rhythm-count: $line-height / $rhythm;
	// Round the rhythm count to half cycles.
	$rhythm-count-half: $rhythm-count - ($rhythm-count - floor($rhythm-count));
	// Calculate the adjusted line height.
	$adjusted-line-height: $rhythm-count-half * $rhythm;
	// Shift the text to the baseline (distance between the baseline and descender height).
	$baseline-shift: (($adjusted-line-height - $font-size) * 0.5);


  /**
   * STYLES created
   */

	position: relative;
	font-size: $font-size;

	// Make sure that 1 rhythm is the minimum line height.
	@if $adjusted-line-height < 1 {
		line-height: $base-font-size * $base-line-height;
	} @else {
		line-height: $adjusted-line-height;
	}

	// Set offsets and font families.
	@if $font-family == $font-display {
    $offset: #{$cap-font-display} + #{$baseline-shift} - (#{$adjusted-line-height} * 0.5);
    top: calc(#{$offset});
    font-family: $font-display;
    
	} @else if $font-family == $font-mono {
    $offset: #{$cap-font-mono} + #{$baseline-shift} - (#{$adjusted-line-height} * 0.5);
    top: calc(#{$offset});
    font-family: $font-mono;
    
	} @else {
    $offset: #{$cap-font-body} + #{$baseline-shift} - (#{$adjusted-line-height} * 0.5);
    top: calc(#{$offset});
    font-family: $font-body;
	}
}



/* Recalculate only the offset and apply top offset to selector
======================================================================== */
@mixin vr-offset($cap-height: $cap-font-body, $font-size: $base-font-size) {
  /**
   * VARIABLE defininitions
   */

  // Calculate the line height of the text.
  $line-height: $font-size * $base-line-height;
  // How much rhythm fits in the line height?
  $rhythm-count: $line-height / $rhythm;
  // Round the rhythm count to half cycles.
  $rhythm-count-half: $rhythm-count - ($rhythm-count - floor($rhythm-count));
  // Calculate the adjusted line height.
  $adjusted-line-height: $rhythm-count-half * $rhythm;
  // Shift the text to the baseline (distance between the baseline and descender height).
  $baseline-shift: (($adjusted-line-height - $font-size) * 0.5);
  // Define the offset
  $offset: #{$cap-height} + #{$baseline-shift} - (#{$adjusted-line-height} * 0.5);
  
  
  /**
   * STYLES created
   */

  top: calc(#{$offset});
}



/* Remove the offset
======================================================================== */
@mixin vr-reset {
  top: 0 !important;
}
