/* ========================================================================

  #CONFIG

  ======================================================================== */


/* Inuit
   ====================================================================== */

/**
 * A map of global config settings. Define any project-level configuration,
 * feature switches, etc. in here.
 */

$inuit-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

/**
 * You can access data in this map using the following function:
 *
 * inuit-config(<key>)
 *
 * Example usage:
 *
 * @if (inuit-config(debug) == true) { ...  }
 */

@function inuit-config($key) {
  @return map-get($inuit-config, $key);
}

@function set-text-color($color) {
  @if (lightness($color) < 50) {
    @return $light-text;
  } @else {
    @return $dark-text;
  }
}





/* Vertical Rhythm
   ====================================================================== */
   
/** 
* Description: Vertical Rhythm
* Version: 2.0.1
* Author: Olaf Muller <olaf.muller@me.com>
*/

// Calculate font sizes based on the chosen preset scale and the number of sizes.
// http://www.modularscale.com
@function calc-font-sizes($scale: $modular-scale, $font-sizes: $font-sizes, $font-size-default: $font-size-default) {
	$size-map: 		();
	$base-size: 	$base-font-size;
	$scale-factor:	map-get($modular-scales, $scale);
	$base-index:	index($font-sizes, $font-size-default);

	// Calculate from the base index upwards.
	@for $i from $base-index through length($font-sizes) {
		$name: nth($font-sizes, $i);
		$value: if($i == $base-index, $base-size, ($value * $scale-factor));

		$size-map: map-merge($size-map, ($name: $value));
	}

	// When we have smaller sizes below the base:
	@if ($base-index - 1 > 0) {

		// reset the value for next calculations,
		$value: $base-size;

		// and calculate the remainder from the index and down.
		@for $i from ($base-index - 1) through 1 {
			$name: nth($font-sizes, $i);
			$value: ($value / $scale-factor);

			$size-map: map-merge($size-map, ($name: $value));
		}
	}

	@return $size-map;
}

