/* ==========================================================================
   # GRID
========================================================================== */



/* Variables
======================================================================== */
$gutter-width: 0;
$spacing-sizes: (
  null: $gutter-width,
  '--xs': $unit-xs,
  '--sm': $unit-sm,
  '--md': $unit-md,
  '--lg': $unit-lg,
  '--xl': $unit-xl,
  '--flush': 0
);

/* The grid
========================================================================== */
.o-grid {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

/**
 * 1. Cells are fulo-width and stack on top of each other by default.
 */

.o-grid__cell {
  position: relative;
  flex: 0 1 auto;
  width: 100%; /* [1] */
}



/* Gutters
========================================================================== */

/**
 * 1. The variable $flexgrid-spacing-sizes contains a `null` key which
 *    will be our default gutter size.
 * 2. Add a negative margin only on one side. That way we aren't required to
 *    use a wrapper with the same amount of spacing, though it's common to do so.
 * 3. Neutralize the left margin on `o-grid`.
 */

@each $size-namespace, $size in $spacing-sizes {
  .o-grid#{$size-namespace} { /* [1] */
    margin-left: -$size; /* [2] */
    margin-top: -$size; /* [2] */
    & > .o-grid__cell {
      padding-top: $size; /* [3] */
      padding-left: $size; /* [3] */
    }
  }
}



/* Automatically size cells by distributing them equally
========================================================================== */
.o-grid--auto {
  & > .o-grid__cell {
    flex: 1 0 0;
  }
}



/* Horizontal alignment
========================================================================== */
.o-grid--center {
  justify-content: center;
}

.o-grid--right {
  justify-content: flex-end;
}

.o-grid--left {
  justify-content: flex-start;
}



/* Vertical alignment
========================================================================== */
.o-grid--middle {
  align-items: center;
}

.o-grid--bottom {
  align-items: flex-end;
}



/* Content distribution
========================================================================== */
.o-grid--around {
  justify-content: space-around;
}

.o-grid--between {
  justify-content: space-between;
}

.o-grid--reverse {
  flex-direction: row-reverse;
}