/* ==========================================================================
   # TEXT SECTION
========================================================================== */

/**
 * This object requires that its parent provide a positioning context
 * E.g. positon: relative (on parent)
 */


/* Base class
======================================================================== */
.o-text-section {
  position: relative;
  padding-top: $unit-xl;
  @include mq($from: tablet) {
    padding-top: $unit-xxl + $unit-xl;
  }
  & ~ #{&} {
    @include mq($from: tablet) {
      padding-top: $unit-xxl;
    }
  }
}
