/* ==========================================================================
   # TEXT WRAPPER
========================================================================== */


/* Base class
======================================================================== */
.o-text-wrapper {
  position: relative;
  padding-top: $unit-xxl;
}

.o-text-wrapper__inner {
  max-width: 50rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Layout modifiers
======================================================================== */
