/* ==========================================================================
   # CODE
========================================================================== */


/* Tool dependencies
======================================================================== */
// vertical-rhythm


/* Global variable dependencies
======================================================================== */
$font-mono:       $font-mono;

// $font-size-xs:    $font-size-xs;
$font-size-sm:    $font-size-sm;
$font-size-md:    $font-size-md;
$font-size-lg:    $font-size-lg;


/* Base class
======================================================================== */
/**
 * 1. Set a default size
 * 2. Transition between the default offset and the font-specific offset
 *    which is detected on page load
 */
.o-code {
  @include vr($font-mono, $font-size-md); /*[1]*/
  margin: 0;
  position: relative;
  // transition: top 3s ease; /*[2]*/
}


/* Font size modifiers
======================================================================== */
.o-code--sm {
  @include vr($font-mono, $font-size-sm);
}
.o-code--lg {
  @include vr($font-mono, $font-size-lg);
}



/* Layout modifiers
======================================================================== */
.o-code--inline {
  display: inline;
  line-height: normal;
  font-size: inherit;
}