/* ==========================================================================
   # TEXT
========================================================================== */


/* STYLE
======================================================================== */
.u-text--bold {
  font-weight: $font-weight-bold !important;
}


/* ALIGNMENT
======================================================================== */
.u-text--align-right {
  text-align: right !important;
}
.u-text--align-center {
  text-align: center !important;
}