/* ==========================================================================
   # ALIGNMENT
========================================================================== */

/**
 * In a larger project one could employ a function to generate the requisite
 * alignment utility classes, but as I don't need many these are manua for
 * simpliciity
 */



/* top, right, left, bottom
======================================================================== */
.u-top-0 {
  top: 0 !important;
}



/* MARGIN
======================================================================== */
.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom-sm {
  margin-bottom: $unit-sm !important;
}
.u-margin-bottom-md {
  margin-bottom: $unit-md !important;
}
.u-margin-bottom-lg {
  margin-bottom: $unit-lg !important;
}



/* PADDING
======================================================================== */
.u-padding-none {
  padding: 0 !important;
}
   