/* ==========================================================================
   
   #TEXT STYLES
   
   ========================================================================== */

/**
 *
 */

.u-text--bold {
  font-weight: $font-weight-bold;
}

.u-text--high-contrast {
  color: rgba($neutral-00, 1);
}

.u-text--low-contrast {
  color: rgba($neutral-00, .6);
}

.u-text--lower-contrast {
  color: rgba($neutral-00, .4);
}

.u-text--lowest-contrast {
  color: rgba($neutral-00, .2);
}



.u-text--accent {
  color: $clr-primary !important;
}

.u-text--paragraph-margin {
  margin-bottom: $paragraph-trailer;
}

.u-text--heading-margin {
  margin-bottom: $heading-trailer;
}


.u-text--align-right {
  text-align: right !important;
}

.u-text--align-center {
  text-align: center !important;
}