@import "./imports";
// @import "./fonts";

@import "../../node_modules/normalize.css/normalize.css";

@import "./generic/generic.my-resets";

@import "./elements/elements.page";
// @import "./elements/elements.typography";
@import "./elements/elements.ui";
@import "./elements/elements.forms";


// @import "./layout/layout.grid";
@import "./layout/layout.box";
@import "./layout/layout.wrapper";

@import "./objects/objects.heading";
@import "./objects/objects.liner";
@import "./objects/objects.text";
@import "./objects/objects.code";

@import "./utilities/utilities.flow";
@import "./utilities/utilities.text";
@import "./utilities/utilities.list";
@import "./utilities/utilities.alignment";
@import "./utilities/utilities.baseline-grid";
@import "./utilities/utilities.widths";
@import "./utilities/utilities.wrapper";
@import "./utilities/utilities.link-bloater";
@import "./utilities/utilities.box";
@import "./utilities/utilities.divider";
@import "./utilities/utilities.responsive";

.fade-enter {
  opacity: 1;
  transition: opacity 1s ease;
}

.fade-before-enter {
  opacity: 0;
}

.fade-after-enter {
  opacity: 1;
}