/* ==========================================================================
   # SYSTEM-UI (FONT)
========================================================================== */
/**
 *
 * Added after page load if font-system-ui is detected
 *
 * 1. Reference the parent selector within itself to pump the specicifity
 *    up a notch
 */

/* Tool dependencies
======================================================================== */
// vertical-rhythm


/* Global variable dependencies
======================================================================== */
$heading-trailer: $heading-trailer;

$font-display:    $font-display;
$font-body:       $font-body;

$font-size-md:    $font-size-md;
$font-size-lg:    $font-size-lg;
$font-size-xl:    $font-size-xl;
$font-size-xxl:   $font-size-xxl;
$font-size-xxxl:  $font-size-xxxl;
$font-size-xxxxl: $font-size-xxxxl;


/* Local variables
======================================================================== */
/**
 * Refine the cap height of this particular typeface
 */
$cap-font-display:			.115em;
$cap-font-body:					.115em;
$cap-font-mono:					.115em;


/* Heading
======================================================================== */

// Base class
.o-heading {
  &#{&} { /*[1]*/
    // color: $red; /* Just for testing */
  }
}

/**
 * 2. Recalculate the top offset based on new cap heights
 */

// Modifiers
.o-heading--alpha {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-xxxl); /*[2]*/
    @include mq($from: desktop) {
      @include vr-offset($font-display, $font-size-xxxxl);
    }
  }
}
.o-heading--beta {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-xxl); /*[2]*/
    @include mq($from: desktop) {
      @include vr-offset($font-display, $font-size-xxxl);
    }
  }
}
.o-heading--gamma {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-xl); /*[2]*/
    @include mq($from: desktop) {
      @include vr-offset($font-display, $font-size-xxl);
    }
  }
}
.o-heading--delta {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-lg); /*[2]*/
    @include mq($from: desktop) {
      @include vr-offset($font-display, $font-size-xl);
    }
  }
}
.o-heading--zeta {
  &#{&} { /*[1]*/
    @include vr-offset($font-body, $font-size-md); /*[2]*/
    @include mq($from: desktop) {
      @include vr-offset($font-display, $font-size-lg);
    }
  }
}

/* Body text
======================================================================== */

// Base
.o-text {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-sm); /*[2]*/
    @include mq($from: desktop) {
      @include vr-offset($font-display, $font-size-md); /*[2]*/
    }
    // color: $red;
  }
}

// Modifiers
.o-text--xs {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-xs); /*[2]*/
  }
}
.o-text--sm {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-sm); /*[2]*/
  }
}
.o-text--lg {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-lg); /*[2]*/
  }
}
.o-text--xl {
  &#{&} { /*[1]*/
    @include vr-offset($font-display, $font-size-xl); /*[2]*/
  }
}