/* ==========================================================================
   
   #PAGE
   
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Visual baseline grid toggle
 */

html {
  font-size: $base-font-size; /* [1] */
  line-height: $base-line-height; /* [1] */
  font-weight: 400;
  font-family: $font-body;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  background-color: $neutral-00;
  color: $neutral-100;
  text-align: center;
}