/* ==========================================================================
   
   #BLOCKQUOTE

   ========================================================================== */

/**
 *
 */

 $quote-width: 34px;
 $quote-height: 20px;

.o-blockquote {
  @include inuit-clearfix;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: $unit-lg $unit-xl;
  display: inline-block;

  @include mq($from: tablet) {
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: $quote-width;
    height: $quote-height;
    background-size: $quote-width $quote-height;
  }
  
  &:before {
    background-image: url('~assets/images/quote-double-start.svg');
    top: -$quote-height;
    left: 0;
  }

  &:after {
    background-image: url('~assets/images/quote-double-end.svg');
    bottom: 0;
    right: 0;
  }
}

.o-blockquote__text {
  @include vr($font-body, $font-size-lg);  
  margin-bottom: $heading-trailer;

  &:last-child {
    margin-bottom: none;
  }
}

.o-blockquote--large {
  
  @include mq($from: desktop) {
    
    > .o-blockquote__text {
      @include vr($font-body, $font-size-xl);
      margin-bottom: $heading-trailer;
    }

  }
}